.informes-container,
.solicitud-container,
.service-container {
  display: flex;
  flex-direction: row;
  /* min-height: 420px; */
}

.form-date {
  position: relative !important;
  background-color: var(--info) !important;
  color: #fff;
  font-size: larger;
  font-weight: bolder;
  width: 200px;
  height: 45px;
  margin: 20px;
  display: flex;
  border: none;
  border-radius: 50px;
  justify-content: center;
  padding-left: 20px;
  align-items: center;
}

button:focus {
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff;
}

#buttonContainer.active {
  margin-top: 50px;
  /* Ajusta según sea necesario */
  transition: margin 0.3s ease;
}

#monthYearPickerContainer,
#yearPickerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Espacio entre el ícono y el input */
  position: relative;
  height: 45px;
  margin-bottom: 15px;
}

.interspace {
  margin-top: 20px;
}

#monthYearPicker,
#yearPicker,
#yearTargetPicker {
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  background-color: var(--info) !important;
  color: #fff;
  font-size: larger;
  font-weight: bolder;
  width: 200px;
  height: 45px;
  margin: 20px;
  display: flex;
  border: none;
  border-radius: 50px;
  /* padding: 0 15px; Espaciado interno */
}

#monthYearPicker:hover {
  box-shadow: 8px 8px 15px rgba(23, 94, 187, 0.63);
}

#yearPicker:hover {
  box-shadow: 8px 8px 15px rgba(23, 94, 187, 0.63);
}

/*CARD HEADER*/

.card-header-danger {
  border-radius: 50px !important;
}

/*INPUT*/
.form-control {
  border-radius: 50px !important;
}

.dropdown-menu {
  border-radius: 20px;
}

.dropdown-menu .inner {
  color: black;
}

/*BUTTONS CIRCLE*/

.btn-search-circle,
#saveIncentiveBtn {
  position: relative;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-search-circle::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-search-circle:hover {
  background-color: white;
  color: green;
}

.btn-search-circle:hover::after {
  visibility: visible;
  opacity: 1;
}

.btn-refresh-circle {
  position: relative;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-refresh-circle::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 4px;
  font-size: 12px;
}

.btn-refresh-circle:hover {
  background-color: white;
  color: orange;
}

.btn-refresh-circle:hover::after {
  visibility: visible;
  opacity: 1;
}

/* Estilo de botón activado */
.btn-active {
  background-color: green;
  color: white;
}

/* Estilo de botón desactivado */
.btn-inactive {
  background-color: red;
  color: white;
}

/* ICONS */
.icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 230px;
}

#icon-import,
#icon-watch {
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.icon-info {
  font-size: 24px;
  margin-right: 8px;
}

.custom-icon {
  font-size: 28px;
  color: darkgray;
  margin-right: 10px;
}

/* General Button SelectPicker */
.bootstrap-select .btn {
  width: 200px;
  height: 45px;
  margin: 0;
  border: none !important;
  background-color: var(--primary);
  border-radius: 50px;
  color: white;
  text-align: right;
  padding-left: 60px;
  position: relative;
  box-sizing: border-box;
}

/* Select Wrapper */
.select-wrapper {
  position: relative;
  width: auto;
  margin: 10px;
  display: flex;
  align-items: center;
}

.icon-select {
  position: absolute;
  left: 0; /* Alineado con los otros íconos */
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px; /* Reduce un poco si se sale del círculo */
  background-color: white;
  color: var(--primary);
  border-radius: 50%;
  pointer-events: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border: 1px solid var(--primary);
}

#icon-select {
  position: absolute;
  left: 15px;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Common styles for all icons */
#icon-cancel,
#icon-refresh,
#icon-search,
#icon-calculate,
#icon-pay,
#icon-edit,
#icon-sync,
#icon-send,
#icon-date,
#icon-date-left,
#icon-button,
#icon-deshacer,
#icon-export,
#icon-import,
#icon-watch {
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Unique styles for each icon */
#icon-export {
  color: var(--orange);
  border: 1px solid var(--orange);
}

#icon-search,
#icon-pay {
  color: var(--success);
  border: 1px solid var(--success);
}

#icon-calculate,
#icon-edit {
  color: orangered;
  border: 1px solid orange;
}

#icon-refresh,
#icon-sync {
  color: var(--teal);
  border: 1px solid var(--teal);
}

#icon-send {
  color: var(--green) !important;
  border: 1px solid var(--green);
}

#icon-cancel {
  color: red !important;
  border: 1px solid red;
}

#icon-date {
  left: 20px;
  top: 50%;
  z-index: 2;
  border: 1px solid var(--info);
}

#icon-date-left {
  left: 10px;
  top: calc(50% - 20px);
  color: var(--info) !important;
  border: 1px solid var(--info);
}

#icon-deshacer {
  top: calc(50% - 20px);
  background-color: white !important;
  color: var(--red-icot) !important;
  border: 1px solid var(--red-icot);
}

.icon-button {
  transition: background 0.3s ease, transform 0.2s ease;
}

.icon-button span {
  color: white;
}

/* BUTTONS */
#btnClear,
#btnSubmit,
#btnSell,
#btnSubmitFind,
#btnSubmitLoad,
#btnSubmitFindLoad,
#btnImportTargets,
#btnSyncA3,
#btnDownloadTemplate,
#btnAdd,
#btnImportIncentives,
#btnEditIncentives,
#targetInputFileLoad,
#btnSubmitExport,
#btnCalculate,
#btnValidate,
#btnExport,
#btnImportTargets,
#btnImportTargetsLoad,
#btnEditTargets,
#btnImportSales,
#btnTracingTargets,
#btnExportLoad,
#btnCalculateLoad,
#btnUnvalidate,
#btnValidateLoad,
#btnUnvalidateLoad,
#btnIncentivesPreview,
#btnIncentivesLoad,
#btnSummaryPreview,
#btnSummaryLoad,
#btnTargetsPreview,
#btnTargetsLoad,
#btnImportLoad,
#btnNewRole,
#btnNewCenter,
#btnNewService {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px !important;
  position: relative;
  margin: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  width: 200px;
  height: 45px;
  font-weight: bold;
}

.btnEditTargets {
    transition: all 0.3s ease;
}

.btnEditTargets:hover {
    color: orangered;
    background-color: white;
    border: 1px solid orangered;
}


/* BUTTONS - Comunes */
/* BUTTONS */
#btnAdd,
#btnCalculate,
#btnCalculateLoad,
#btnDelete,
#btnEdit,
#btnEditLoad,
#btnExport,
#btnExportLoad,
#btnImport,
#btnImportLoad,
#btnPreview,
#btnIncentivesLoad,
#btnIncentivesPreview,
#btnSubmit,
#btnSubmitLoad,
#btnSyncA3,
#btnTargetsLoad,
#btnTargetsPreview,
#btnTracingTargets,
#btnTracingTargetsLoad,
#btnUnvalidate,
#btnUnvalidateLoad,
#btnValidate,
#btnValidateLoad,
#btnSummaryLoad,
#btnSummaryPreview,
#btnDownloadTemplate,
#btnClear,
#targetInputFileLoad {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px !important;
  position: relative;
  margin: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  width: 200px;
  height: 45px;
  font-weight: bold;
}

/* Ensure the spinner replaces the icon */
#btnEditTargetsLoad .spinner-border {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#btnEditTargetsLoad {
  position: relative;
  text-align: left;
  padding-left: 30px;
}

.file-upload.btn-import {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-upload.btn-import .material-icons,
.file-upload.btn-import .spinner-border {
  margin-right: 8px;
}

.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-width: 0.15em;
  vertical-align: middle;
}

.btn-refresh {
  /* padding-left: 60px !important; */
  background-color: var(--teal) !important;
  font-weight: bolder;
}

.btn-refresh:hover {
  box-shadow: 8px 8px 15px rgba(0, 245, 233, 0.63);
}

.btn-export {
  /* padding-left: 60px !important; */
  background-color: #fd7e14;
  font-weight: bolder;
}

.btn-import {
  padding-left: 60px !important;
  background-color: var(--secondary);
  font-weight: bolder;
}

.btn-watch {
  font-weight: bolder;
}

.file-upload btn-import {
  padding-left: 60px !important;
  background-color: var(--secondary);
  font-weight: bolder;
}

.file-upload btn-edit {
  padding-left: 60px !important;
  background-color: var(--primary);
  font-weight: bolder;
}

.btn-export:hover {
  box-shadow: 8px 8px 15px rgba(36, 35, 35, 0.63);
}

.btn-import:hover {
  box-shadow: 8px 8px 15px rgba(36, 35, 35, 0.63);
}

.btn-watch {
  /* padding-left: 60px !important; */
  background-color: var(--light-grey) !important;
}

.btn-watch:hover {
  box-shadow: 8px 8px 15px rgba(36, 35, 35, 0.63);
}

.btn-search {
  padding-left: 60px !important;
  background-color: var(--green);
}

.btn-send {
  padding-left: 50px !important;
  background-color: var(--success);
  font-weight: bolder;
}

.btn-cancel {
  padding-left: 50px !important;
  background-color: red;
  font-weight: bolder;
}

.btn-search:hover {
  box-shadow: 8px 8px 15px rgba(8, 189, 83, 0.63);
}

.btn-send:hover {
  box-shadow: 8px 8px 15px rgba(8, 189, 83, 0.63);
}

.btn-calculate {
  padding-left: 60px !important;
  background-color: var(--primary);
}

.btn-calculate:hover {
  box-shadow: 8px 8px 15px rgba(28, 146, 201, 0.63);
}

.btn-pay-all {
  padding-left: 60px !important;
  background-color: var(--success);
}

.btn-deshacer-pagar {
  padding-left: 60px !important;
  background-color: var(--red-icot);
}

.btn-deshacer-pagar:hover {
  box-shadow: 8px 8px 15px rgba(121, 3, 3, 0.63);
}

.btn-pay-all:hover {
  box-shadow: 8px 8px 15px rgba(8, 189, 83, 0.63);
}

/* Estilos personalizados para cada botón */
.close-btn {
  background-color: #dc3545;
  /* Rojo */
}

.close-btn:hover {
  background-color: #c82333;
  transform: scale(1.1);
}

.save-btn {
  background-color: #28a745;
  /* Verde */
}

.save-btn:hover {
  background-color: #218838;
  transform: scale(1.1);
}

.btn-export-container {
  position: absolute;
  right: 0;
  margin-top: 0;
  z-index: 20;
}

/* Base Button Styles */
.circle-btn {
  position: relative;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Variants */
.btn-add,
.circle-btn-add,
.service-btn-add {
  background-color: var(--red-icot);
}

.header-btn-add {
  background-color: var(--success);
}

.service-btn-add {
  color: white !important;
  margin-top: 120px;
}

.btn-add {
  margin: 20px;
  margin-top: 80px;
}

/* Tooltip Effect */
.circle-btn::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

/* Hover Effects */
.circle-btn:hover,
.header-btn-add:hover {
  background-color: white;
  color: green;
}

.circle-btn:hover::after,
.header-btn-add:hover::after {
  visibility: visible;
  opacity: 1;
}

/* EDIT BUTTON */
.btn-edit {
  position: relative;
  background-color: orangered;
  border-color: #ff9800;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-weight: bolder;
}

.btn-edit::after {
  content: attr(data-editar);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: #333; /* fondo oscuro */
  color: white; /* texto blanco */
  z-index: 10;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-edit:hover {
  color: orangered;
  background-color: #fff;
  border-color: #cc7a00;
}

.btn-edit:hover::after {
  visibility: visible;
  opacity: 1;
}

/*REMOVE BUTTON*/
.btn-remove {
  position: relative;
  background-color: #cc4b4b; /* rojo mate */
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-weight: bolder;
}

.btn-remove::after {
  content: attr(data-remove);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: #333;
  color: white;
  z-index: 10;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-remove:hover {
  background-color: white;
  color: #cc4b4b;
  border: 1px solid #b13232;
}

.btn-remove:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BTN SEARCH */
.btn-see {
  position: relative;
  background-color: #6c757d;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-see::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 4px;
  font-size: 12px;
}

.btn-see:hover {
  background-color: white;
  color: #6c757d;
}

.btn-see:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BTN RESET */
.btn-reset-access {
  position: relative;
  background-color: var(--success);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-reset-access::after {
  content: attr(data-access);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-reset-access:hover {
  background-color: white;
  color: var(--success);
}

.btn-reset-access:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BUTTON VALIDATE-PASSWORD */
.btn-validate-password {
  position: relative;
  background-color: #00bcd4;
  border-color: #00bcd4;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-validate-password::after {
  content: attr(data-validate);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-validate-password:hover {
  color: #009aae;
  background-color: #fff !important;
  border-color: #008fa1;
}

.btn-validate-password:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BUTTON DENEGATE ACCESS */
.btn-denegate-access {
  position: relative;
  background-color: #cc4b4b;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-denegate-access::after {
  content: attr(data-denegate);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-denegate-access:hover {
  background-color: white;
  color: red;
}

.btn-denegate-access:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BUTTON SINCRO A3 */
.btn-sincro-a3 {
  position: relative;
  background-color: teal;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-sincro-a3::after {
  content: attr(data-sincro);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-sincro-a3:hover {
  background-color: white;
  color: teal;
}

.btn-sincro-a3:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BUTTON SINCRO ALL A3 */
.btn-sincro-all {
  position: relative;
  background-color: teal;
  border: none;
  color: white !important;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.btn-sincro-all::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-sincro-all:hover {
  background-color: white !important;
  color: teal;
}

.btn-sincro-all:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BTN DELETE */
.btn-delete {
  position: relative;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-delete::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 10;
}


.btn-delete:hover {
  background-color: white;
  color: red;
}

.btn-delete:hover::after {
  visibility: visible;
  opacity: 1;
}

/*BUTTON SAVE & RETURN */
.btn-return {
  position: relative;
  background-color: #6c757d;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-return::after {
  content: attr(data-back);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: #333;
  color: white;
  z-index: 10;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-return:hover {
  background-color: white;
  color: #6c757d;
  border: 1px solid #5a6268;
}

.btn-return:hover::after {
  visibility: visible;
  opacity: 1;
}

.btn-save,
.btn-remove,
.btn-return {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-save:hover,
.btn-remove:hover,
.btn-return:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.btn-save:active,
.btn-remove:active,
.btn-retun:active {
  transform: translateY(0px) scale(0.96);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

/*BUTTON SAVE AND RETURN */
.btn-save {
  position: relative;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex-shrink: 0;
}

.btn-save::after {
  content: attr(data-save);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-save:hover {
  background-color: white;
  color: green;
}

.btn-save:hover::after {
  visibility: visible;
  opacity: 1;
}

/* Tooltips centralizados */
.tooltip-add::after {
  content: "Añadir";
}
.tooltip-save::after {
  content: "Guardar";
}

.tooltip-remove::after {
  content: "Eliminar";
}

.tooltip-back::after {
  content: "Volver";
}

.tooltip-edit::after {
  content: "Editar";
}

.tooltip-download::after {
  content: "Descargar";
}

/* Responsividad */
/*MEDIA QUERIES*/
@media (max-width: 768px) {
  #btnContainer,
  .bg-white,
  .filter-option {
    width: 90%;
    height: auto;
    transform: scale(0.9);
  }

  .material-symbols-outlined,
  .material-icons {
    left: 1.5vw;
  }
}

@media (max-width: 480px) {
  #btnContainer,
  .bg-white,
  .filter-option {
    width: 90%;
    height: auto;
    transform: scale(0.9);
  }

  .material-symbols-outlined,
  .material-icons {
    left: 1.5vw;
  }
}

@media (max-width: 360px) {
  #btnContainer,
  .bg-white,
  .filter-option {
    width: 90%;
    height: auto;
    transform: scale(0.9);
  }

  .material-symbols-outlined,
  .material-icons {
    left: 1.5vw;
  }
}

@media (max-width: 1200px) {
  #btnContainer,
  .bg-white,
  .filter-option {
    width: 90%;
    height: auto;
    transform: scale(0.9);
  }

  .material-symbols-outlined,
  .material-icons {
    left: 1.5vw;
  }

  .date-picker-btn {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .date-picker-btn i {
    font-size: 18px;
  }

  .date-picker-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
  }

  .selected-date-text {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
  }
}
