.informes-container,
.solicitud-container,
.service-container {
  display: flex;
  flex-direction: row;
  min-height: 420px;
}

.date-informes-container,
.date-solicitud-container,
.date-services-container {
  /* margin-left: 80px; */
  padding-top: 50px;
  background-image: url(/assets/img/calendarImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-date {
  position: relative !important;
  background-color: var(--info) !important;
  color: #fff;
  font-size: larger;
  font-weight: bolder;
  width: 200px;
  height: 45px;
  margin: 20px;
  display: flex;
  border: none;
  border-radius: 50px;
  justify-content: center;
}

.icon-container {
  position: relative;
  display: flex;
}

button:focus {
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff;
}

#buttonContainer.active {
  margin-top: 50px; /* Ajusta según sea necesario */
  transition: margin 0.3s ease;
}

#monthYearPickerContainer,
#yearPickerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Espacio entre el ícono y el input */
  position: relative;
  height: 45px;
}

.interspace {
  margin-top: 18px;
}

#monthYearPicker,
#yearPicker,
#yearTargetPicker {
  padding-left: 50px;
  background-color: var(--info) !important;
  color: #fff;
  font-size: larger;
  font-weight: bolder;
  width: 130px;
  height: 45px;
  margin: 20px;
  display: flex;
  border: none;
  border-radius: 50px;
  /* padding: 0 15px; Espaciado interno */
}

#monthYearPicker:hover {
  box-shadow: 8px 8px 15px rgba(23, 94, 187, 0.63);
}

#yearPicker:hover {
  box-shadow: 8px 8px 15px rgba(23, 94, 187, 0.63);
}

/* #yearPicker {
  background-color: var(--info) !important;
  width: 230px;
  height: 45px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: none;
  border-radius: 50px;
  padding-left: 20px;
} */

/*CARD HEADER*/

.card-header-danger {
  border-radius: 50px !important;
}

/*INPUT*/
.form-control {
  border-radius: 50px !important;
}

.dropdown-menu {
  border-radius: 20px;
}

.dropdown-menu .inner {
  color: black;
}

/*BUTTONS CIRCLE*/

.btn-search-circle {
  position: relative;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-search-circle::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-search-circle:hover {
  background-color: white;
  color: green;
}

.btn-search-circle:hover::after {
  visibility: visible;
  opacity: 1;
}

.btn-refresh-circle {
  position: relative;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-refresh-circle::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 4px;
  font-size: 12px;
}

.btn-refresh-circle:hover {
  background-color: white;
  color: orange;
}

.btn-refresh-circle:hover::after {
  visibility: visible;
  opacity: 1;
}

/* Estilo de botón activado */
.btn-active {
  background-color: green;
  color: white;
}

/* Estilo de botón desactivado */
.btn-inactive {
  background-color: red;
  color: white;
}

/* ICONS */
#icon-export,
#icon-import,
#icon-watch {
  position: absolute;
  left: 0;
  background-color: white;
  color: var(--gray-dark);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-dark);
}

/* .material-symbols-outlined {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  background-color: white;
  color: var(--red-icot) !important;
  border-radius: 50%;
  pointer-events: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border: 1px solid var(--red-icot);
} */

/* General Button SelectPicker */
.bootstrap-select .btn {
  width: 200px;
  height: 45px;
  margin: 0;
  /* Elimina centrado individual */
  border: none !important;
  background-color: var(--red-icot);
  border-radius: 50px;
  color: white;
  text-align: right;
  /* Asegura alineación derecha del texto */
  padding-left: 60px;
  /* Deja espacio suficiente para el ícono */
  position: relative;
  /* Base para posicionar el ícono dentro */
  box-sizing: border-box;
  /* Padding incluido en el ancho total */
}

/* Select Wrapper */
.select-wrapper {
  position: relative;
  /* Ícono se posiciona relativo a este contenedor */
  width: auto;
  /* Cambia a auto para que ocupe solo lo necesario */
  margin: 10px;
  /* Añade espaciado entre elementos */
  display: flex;
  /* Flex para garantizar alineación del ícono */
  align-items: center;
  /* Centra verticalmente */
}

/* Ícono del Select */
.icon-select {
  position: absolute;
  left: 15px;
  /* Posición fija desde el borde izquierdo */
  top: 50%;
  /* Centrado vertical */
  transform: translateY(-50%);
  font-size: 25px;
  /* Tamaño del ícono */
  background-color: white;
  /* Fondo del ícono */
  color: var(--red-icot);
  border-radius: 50%;
  /* Ícono circular */
  pointer-events: none;
  /* No interfiere con clics */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  /* Se coloca sobre el botón */
  border: 1px solid var(--red-icot);
}

/* Common styles for all icons */
#icon-refresh,
#icon-search,
#icon-calculate,
#icon-pay {
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Unique styles for each icon */
#icon-refresh {
  color: var(--orange);
  border: 1px solid var(--orange);
}

#icon-search {
  color: var(--green);
  border: 1px solid var(--green);
}

#icon-calculate {
  color: var(--primary);
  border: 1px solid var(--primary);
}

#icon-pay {
  color: var(--success);
  border: 1px solid var(--success);
}

#icon-send {
  position: absolute;
  left: 0;
  top: calc(50% - 20px);
  background-color: white !important;
  color: var(--green) !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--green);
  cursor: pointer;
}

/* #icon-date {
  font-size: 25px; 
  color: var(--red-icot);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
} */


#icon-date {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  background-color: white !important;
  color: var(--info) !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border: 1px solid var(--info);
  cursor: pointer;
}

#icon-date-left {
  position: absolute;
  left: 10px;
  top: calc(50% - 20px);
  background-color: white !important;
  color: var(--info) !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--info);
  cursor: pointer;
}

#icon-deshacer {
  position: absolute;
  left: 0px;
  top: calc(50% - 20px);
  background-color: white !important;
  color: var(--red-icot) !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--red-icot);
  cursor: pointer;
}

/* BUTTONS */

#btnClear,
#btnSubmit,
#btnSell,
#btnSubmitFind,
#btnSubmitLoad,
#btnSubmitFindLoad,
#btnImportTargets,
#targetInputFileLoad,
#btnSubmitExport,
#btnCalculate,
#btnValidate,
#btnExport,
#btnImportTargets,
#btnImportTargetsLoad,
#btnEditTargets,
/* #btnEditTargetsLoad, */
#btnImportSales,
#btnTracingTargets,
#btnExportLoad,
#btnCalculateLoad,
#btnUnvalidate,
#btnValidateLoad,
#btnUnvalidateLoad,
#btnIncentivesPreview,
#btnIncentivesLoad,
#btnSummaryPreview,
#btnSummaryLoad,
#btnTargetsPreview,
#btnTargetsLoad {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  margin: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  width: 200px;
  height: 45px;
}

/* Ensure the spinner replaces the icon */
#btnEditTargetsLoad .spinner-border {
  position: absolute;
  left: 10px;
  /* Adjust based on your layout */
  top: 50%;
  transform: translateY(-50%);
}

#btnEditTargetsLoad {
  position: relative;
  text-align: left;
  padding-left: 30px;
  /* Space for the spinner */
}

.file-upload.btn-import {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-upload.btn-import .material-icons,
.file-upload.btn-import .spinner-border {
  margin-right: 8px;
}

.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-width: 0.15em;
  vertical-align: middle;
}

.btn-refresh {
  /* padding-left: 60px !important; */
  background-color: var(--orange) !important;
}

.btn-refresh:hover {
  box-shadow: 8px 8px 15px rgba(245, 118, 0, 0.63);
}

.btn-export {
  padding-left: 60px !important;
  background-color: var(--gray-dark);
}

.btn-import {
  padding-left: 60px !important;
  background-color: var(--gray-dark);
}

.file-upload btn-import {
  padding-left: 60px !important;
  background-color: var(--gray-dark);
}

.btn-export:hover {
  box-shadow: 8px 8px 15px rgba(36, 35, 35, 0.63);
}

.btn-import:hover {
  box-shadow: 8px 8px 15px rgba(36, 35, 35, 0.63);
}

.btn-watch {
  /* padding-left: 60px !important; */
  background-color: var(--light-grey) !important;
  
}

.btn-watch:hover {
  box-shadow: 8px 8px 15px rgba(36, 35, 35, 0.63);
}

.btn-search {
  padding-left: 60px !important;
  background-color: var(--green);
}

.btn-send {
  padding-left: 60px !important;
  background-color: var(--green);
}

.btn-search:hover {
  box-shadow: 8px 8px 15px rgba(8, 189, 83, 0.63);
}

.btn-send:hover {
  box-shadow: 8px 8px 15px rgba(8, 189, 83, 0.63);
}

.btn-calculate {
  padding-left: 60px !important;
  background-color: var(--primary);
}

.btn-calculate:hover {
  box-shadow: 8px 8px 15px rgba(28, 146, 201, 0.63);
}

.btn-pay-all {
  padding-left: 60px !important;
  background-color: var(--success);
}

.btn-deshacer-pagar {
  padding-left: 60px !important;
  background-color: var(--red-icot);
}

.btn-deshacer-pagar:hover {
  box-shadow: 8px 8px 15px rgba(121, 3, 3, 0.63);
}

.btn-pay-all:hover {
  box-shadow: 8px 8px 15px rgba(8, 189, 83, 0.63);
}

.icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 230px;
}

.btn-export-container {
  position: absolute;
  right: 0;
  margin-top: 0;
  z-index: 20;
}


.btn-add {
  position: relative;
  background-color: var(--red-icot);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  margin: 20px;
}

.header-btn-add {
  position: relative;
  background-color: var(--red-icot);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.circle-btn-add {
  position: relative;
  background-color: var(--red-icot);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  margin-top: 20px;
}

.service-btn-add {
  position: relative;
  background-color: var(--red-icot);
  border: none;
  color: white !important;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  margin-top: 120px;
}

/* ADD BUTTON */

.btn-add::after,
.service-btn-add::after,
.service-btn-add::after,
.header-btn-add::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-add:hover,
.service-btn-add:hover,
.header-btn-add:hover {
  background-color: white;
  color: var(--red-icot);
}

.btn-add::after,
.service-btn-add::after,
.header-btn-add:hover::after {
  visibility: visible;
  opacity: 1;
}

/* EDIT BUTTON */

.btn-edit {
  position: relative;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-edit::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 4px;
  font-size: 12px;
}

.btn-edit:hover {
  background-color: white;
  color: orange;
}

.btn-edit:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BTN RESET */

.btn-reset-access {
  position: relative;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-reset-access::after {
  content: attr(data-access);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-reset-access:hover {
  background-color: white;
  color: green;
}

.btn-reset-access:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BUTTON VALIDATE-PASSWORD */

.btn-validate-password {
  position: relative;
  background-color: blue;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-validate-password::after {
  content: attr(data-validate);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-validate-password:hover {
  background-color: white;
  color: blue;
}

.btn-validate-password:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BUTTON DENEGATE ACCESS */

.btn-denegate-access {
  position: relative;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-denegate-access::after {
  content: attr(data-denegate);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-denegate-access:hover {
  background-color: white;
  color: red;
}

.btn-denegate-access:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BUTTON SINCRO A3 */

.btn-sincro-a3 {
  position: relative;
  background-color: teal;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-sincro-a3::after {
  content: attr(data-sincro);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-sincro-a3:hover {
  background-color: white;
  color: teal;
}

.btn-sincro-a3:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BUTTON SINCRO ALL A3 */

#btnSyncA3 {
  font-weight: 900;
  font-size: large;
  background-color: #eeeeee;
  color: var(--red-icot);
  margin-top: 120px;
}

.btn-sincro-all {
  position: relative;
  background-color: var(--red-icot) !important;
  border: none;
  color: white !important;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

.btn-sincro-all::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-sincro-all:hover {
  background-color: white !important;
  color: var(--red-icot) !important;
}

.btn-sincro-all:hover::after {
  visibility: visible;
  opacity: 1;
}

/* BTN DELETE */

.btn-delete {
  position: relative;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-delete::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 4px;
  font-size: 12px;
}

.btn-delete:hover {
  background-color: white;
  color: red;
}

.btn-delete:hover::after {
  visibility: visible;
  opacity: 1;
}

/*BUTTON SAVE & RETURN */


.btn-save {
  position: relative;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-save::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 4px;
  font-size: 12px;
}

.btn-save:hover {
  background-color: white;
  color: green;
}

.btn-save:hover::after {
  visibility: visible;
  opacity: 1;
}

.btn-return {
  position: relative;
  background-color: var(--red-icot);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-return::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 4px;
  font-size: 12px;
}

.btn-return:hover {
  background-color: white;
  color: var(--red-icot);
}

.btn-return:hover::after {
  visibility: visible;
  opacity: 1;
}

/*BUTTON SAVE AND RETURN */

.btn-save {
  position: relative;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-save::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 4px;
  font-size: 12px;
}

.btn-save:hover {
  background-color: white;
  color: green;
}

.btn-save:hover::after {
  visibility: visible;
  opacity: 1;
}

.btn-return {
  position: relative;
  background-color: var(--red-icot);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.btn-return::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 4px;
  font-size: 12px;
}

.btn-return:hover {
  background-color: white;
  color: var(--red-icot);
}

.btn-return:hover::after {
  visibility: visible;
  opacity: 1;
}


/* Responsividad */
/*MEDIA QUERIES*/
@media (max-width: 768px) {
  #btnContainer,
  .bg-white,
  .filter-option {
    width: 90%;
    height: auto;
    transform: scale(0.9);
  }

  .material-symbols-outlined,
  .material-icons {
    left: 1.5vw;
  }
}

@media (max-width: 480px) {
  #btnContainer,
  .bg-white,
  .filter-option {
    width: 90%;
    height: auto;
    transform: scale(0.9);
  }

  .material-symbols-outlined,
  .material-icons {
    left: 1.5vw;
  }
}
@media (max-width: 360px) {
  #btnContainer,
  .bg-white,
  .filter-option {
    width: 90%;
    height: auto;
    transform: scale(0.9);
  }

  .material-symbols-outlined,
  .material-icons {
    left: 1.5vw;
  }
}

@media (max-width: 1200PX) {

  #btnContainer,
  .bg-white,
  .filter-option {
    width: 90%;
    height: auto;
    transform: scale(0.9);
  }

  .material-symbols-outlined,
  .material-icons {
    left: 1.5vw;
  }

}