.content {
  background-image: url(/assets/img/background_continue.png) !important;
  background-position: center center !important;
  background-size: 1000px;
  height: 150vh !important;
}

table.dataTable.dataTable_width_auto {
  width: 100%;
}

svg.ct-chart-bar,
svg.ct-chart-line {
  overflow: visible;
}

.ct-label.ct-label.ct-horizontal.ct-end {
  position: relative;
  justify-content: flex-end;
  text-align: right;
  transform-origin: 100% 0;
  transform: translate(-100%) rotate(0deg);
  white-space: nowrap;
}

.card-header-table {
  width: 100%;
  margin-top: 0px !important;
}

.sales-datatable {
  table-layout: fixed;
  width: 100% !important;
}

.sales-datatable td,
.sales-datatable th {
  text-overflow: ellipsis;
  overflow: hidden;
}

#DataTables_Table_0_paginate > ul.pagination {
  margin: 16px 0 !important;
}
.label {
  margin-top: 20px;
  margin: 10px;
}

#monthYearPickerContainer {
  display: flex;
  justify-content: center;
  position: relative !important;
}

#yearPickerContainer {
  display: flex;
  justify-content: center;
  position: relative !important;
}

#monthYearPicker {
  background-color: var(--info) !important;
  width: 230px;
  height: 45px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: none;
  border-radius: 50px;
  padding-left: 20px;
}

#monthYearPicker:hover {
  box-shadow: 8px 8px 15px rgba(23, 94, 187, 0.63);
}

#yearPicker {
  background-color: var(--info) !important;
  width: 230px;
  height: 45px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: none;
  border-radius: 50px;
  padding-left: 20px;
}

.btn-clear-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

#typeRanking {
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 100px;
  display: inline-block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  color: black;
}

#btn-radio-refresh {
  display: flex;
  justify-content: space-between;
  color: var(--red-icot);
}

#separator {
  margin-bottom: 0;
  padding-bottom: 0;
}

#selected-label {
  color: var(--red-icot);
  font-weight: bold;
}

.row-container {
  display: flex;
  justify-content: space-between;
}

.btn-radio-container {
  height: 45px;
  margin: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card {
  margin-top: 20px !important;
  box-shadow: 8px 8px 15px rgba(36, 35, 35, 0.63);
}

.card-title {
}


.card-search {
  height: 400px;
  padding: 10px;
}

.card-objetives {
  height: 400px;
  padding: 10px;
}

.search-container {
}

.objetives-container {
  min-width: 80%;
}

.ranking-container {
  width: 100%;
}
