#category {
    text-transform: lowercase;
}

#btnSyncA3 {
    font-weight: 900;
    font-size: large;
    background-color: #eeeeee;
    color: var(--red-icot);
}
td.upper {
    text-transform: lowercase;
}

/* EDIT BUTTON */

.btn-edit {
position: relative;   
background-color: orange ;
border: none;
color: white;
cursor: pointer;
border-radius: 50%;
width: 40px; 
height: 40px;
padding: 0; display: inline-flex;
align-items: center;
justify-content: center;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
margin: 10px;
}
.btn-edit::after {
content: attr(data-editar); 
position: absolute;
bottom: 100%; 
left: 50%;
transform: translateX(-50%); 
white-space: nowrap; 
visibility: hidden; 
opacity: 0;
transition: opacity 0.2s, visibility 0.2s; 
background-color: black; 
color: white; 
padding: 5px 10px;
border-radius: 4px;
font-size: 12px;
}

.btn-edit:hover {
background-color: white; 
color: orange; 
}

.btn-edit:hover::after {
visibility: visible;
opacity: 1;
}

/* BTN RESET */ 

.btn-reset-access{
position: relative;   
background-color: green;
border: none;
color: white;
cursor: pointer;
border-radius: 50%;
width: 40px; 
height: 40px;
padding: 0; display: inline-flex;
align-items: center;
justify-content: center;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
margin: 10px;
}
.btn-reset-access::after {
content: attr(data-access); 
position: absolute;
bottom: 100%; 
left: 50%; 
transform: translateX(-50%); 
white-space: nowrap; 
visibility: hidden; 
opacity: 0;
transition: opacity 0.2s, visibility 0.2s; 
background-color: black; 
color: white; 
padding: 5px 10px;
border-radius: 4px;
font-size: 12px;
}

.btn-reset-access:hover {
background-color: white; 
color: green;   
}

.btn-reset-access:hover::after {
visibility: visible;
opacity: 1;
}

/* BUTTON VALIDATE-PASSWORD */ 

.btn-validate-password{
position: relative;   
background-color: blue;
border: none;
color: white;
cursor: pointer;
border-radius: 50%;
width: 40px; 
height: 40px;
padding: 0; display: inline-flex;
align-items: center;
justify-content: center;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
margin: 10px;
}

.btn-validate-password::after{
content: attr(data-validate); 
position: absolute;
bottom: 100%; 
left: 50%; 
transform: translateX(-50%); 
white-space: nowrap; 
visibility: hidden; 
opacity: 0;
transition: opacity 0.2s, visibility 0.2s;
background-color: black; 
color: white; 
padding: 5px 10px;
border-radius: 4px;
font-size: 12px;
}

.btn-validate-password:hover {
background-color: white; 
color:blue; 
}

.btn-validate-password:hover::after {
visibility: visible;
opacity: 1;
}

/* BUTTON DENEGATE ACCESS */ 

.btn-denegate-access{
position: relative;   
background-color: red;
border: none;
color: white;
cursor: pointer;
border-radius: 50%;
width: 40px; 
height: 40px;
padding: 0; display: inline-flex;
align-items: center;
justify-content: center;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
margin: 10px;
}

.btn-denegate-access::after{
content: attr(data-denegate); 
position: absolute;
bottom: 100%; 
left: 50%; 
transform: translateX(-50%); 
white-space: nowrap; 
visibility: hidden; 
opacity: 0;
transition: opacity 0.2s, visibility 0.2s; 
background-color: black; 
color: white; 
padding: 5px 10px;
border-radius: 4px;
font-size: 12px;
}

.btn-denegate-access:hover {
background-color: white; 
color:red; 
}

.btn-denegate-access:hover::after {
visibility: visible;
opacity: 1;
}

/* BUTTON SINCRO A3 */ 

.btn-sincro-a3{
position: relative;   
background-color: teal;
border: none;
color: white;
cursor: pointer;
border-radius: 50%;
width: 40px; 
height: 40px;
padding: 0; display: inline-flex;
align-items: center;
justify-content: center;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
margin: 10px;
}

.btn-sincro-a3::after{
content: attr(data-sincro); 
position: absolute;
bottom: 100%; 
left: 50%; 
transform: translateX(-50%); 
white-space: nowrap; 
visibility: hidden; 
opacity: 0;
transition: opacity 0.2s, visibility 0.2s; 
background-color: black; 
color: white; 
padding: 5px 10px;
border-radius: 4px;
font-size: 12px;
}

.btn-sincro-a3:hover {
background-color: white; 
color:teal; 
}

.btn-sincro-a3:hover::after {
visibility: visible;
opacity: 1;
}

/* ROW RED FOR BLOQUED USER */

.row-red-bloqued {

    color: red ;
}
