.content {
    background-image: url(/assets/img/background_continue.png) !important;
    background-position: center center !important;
    background-size: 1000px;
    height: 500vh !important;

}



.incentive-logo {
    background-image: url(/assets/img/logoPreciosIncentivos.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    min-width: 200px;
    min-height: 100px;
}


.highlight-row {
    background-color: #d4edda !important;
    /* Verde claro */
    transition: background-color 1s ease-in-out;
}


.ui-datepicker-calendar {
    display: none;
}



.file-upload {
    margin: 0 10px 0 25px;

}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    font-size: 20px;
    cursor: pointer;
    height: 36px;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: var(--red-icot);
}

#fileuploadurl {
    border: none;
    font-size: 12px;
    padding-left: 0;
    width: 250px;
}

.ui-datepicker-calendar {
    display: none;
}

table.dataTable.dataTable_width_auto {
    width: 100% !important;
}

.card-header-table {
    width: 100%;
    margin-top: 0px !important;
}

.incentives-datatable {
    table-layout: fixed;
    width: 100% !important;
}

.incentives-datatable td,
.incentives-datatable th {
    text-overflow: ellipsis;
    overflow: hidden;
}

#DataTables_Table_0_paginate>ul.pagination {
    margin: 16px 0 !important;
}

.modal-content {
    background-color: #f8f9fa; /* Color de fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.modal-header {
    background-color: #bc012e; /* Fondo azul */
    color: white; /* Texto blanco */
    border-top-left-radius: 10px; /* Bordes redondeados para el encabezado */
    border-top-right-radius: 10px;
}

.modal-title {
    font-size: 1.5rem; /* Aumentar tamaño del texto */
    font-weight: bold; /* Negrita */
    color: white; /* Color blanco */
}

.form-control {
    background-color: #e6ecf1; /* Fondo gris claro */
    border: 1px solid #ced4da; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente adecuado */
    color: #495057; /* Color de texto */
}

.form-control:focus {
    border-color: #007bff; /* Borde azul */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra azul suave */
}

.mb-3 label {
    font-weight: bold; /* Hacer las etiquetas de los inputs más destacadas */
}

.modal-body .mb-3 {
    margin-bottom: 1.5rem; /* Aumentar el espacio entre los inputs */
}

.error-message {
    color: red;
    font-style: italic;
    margin-top: 5px;
    display: none; /* Oculta los mensajes por defecto */
}

.input-error {
    border-color: red;
}

input[readonly] {
    border: none; /* Elimina los bordes */
    background-color: #f0f0f0; /* Color de fondo gris claro */
    color: #888; /* Color de texto gris */
}


