
.content {
    background-image: url(/assets/img/background_continue.png) !important;
    background-position: center center !important;
    background-size: 1000px;
}
.bootstrap-select .btn {
    width: 230px;
    height: 45px;
    margin: 20px;
    border: none !important;
    background-color: var(--red-icot);
    border-radius: 50px;
    color: white;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

    .file-upload {
        margin: 0 10px 0 25px;
      
    }

    .file-upload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 10;
        font-size: 20px;
        cursor: pointer;
        height: 36px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    #fileuploadurl {
        border: none;
        font-size: 12px;
        padding-left: 0;
        width: 250px;
        margin-left: 25px;
    }

   
  
.card-header-danger {
  border-radius: 50px !important; 
}


.btn-refresh {
    position: relative;   
    background-color: orange ;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    padding: 0; display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
    }
    .btn-refresh::after {
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    white-space: nowrap; 
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s; 
    border-radius: 4px;
    font-size: 12px;
    }
    
    .btn-refresh:hover {
    background-color: white; 
    color: orange; 
    }
    
    .btn-refresh:hover::after {
    visibility: visible;
    opacity: 1;
    }

.btn-searcher {
    position: relative ;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.btn-searcher::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
}

.btn-searcher:hover {
    background-color: white;
    color: green;
}

.btn-searcher:hover::after {
    visibility: visible;
    opacity: 1;
}

.btn-delete{
    position: relative;   
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    padding: 0; display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
    }
    
    .btn-delete::after{
    position: absolute;
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    white-space: nowrap; 
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s; 
    border-radius: 4px;
    font-size: 12px;
    }
    
    .btn-delete:hover {
    background-color: white; 
    color:red; 
    }
    
    .btn-delete:hover::after {
    visibility: visible;
    opacity: 1;
    }
   