
#navbar-home {
    background-image: url(/assets/img/background-nav.png);
    height: 400px;
    width: 100%;
    position: absolute;
}

.minimize-sidebar-home {
    position: absolute !important;
    top: 120px;
    left: 0 !important;
    background: none !important;
    border: none !important;
    color: white !important;
}
.minimize-sidebar {
    position: absolute !important;
    padding-top: 50px !important;
    background: none !important;
    border: none !important;
    color: var(--red-icot) !important;
}
#alert-cutoff-date-home{
    position: absolute;
    right: 0;
    color: var(--red-icot);
    background-color: white;
    padding: 20px 15px;
    margin: 10px;
    border-radius: 3px;
    border: 2px;
    font-weight: 600;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.678), 0 10px 20px -5px rgb(186 46 41 / 50%) !important;
}
#alert-cutoff-date{
    position: absolute;
    right: 0;
    top:20px;
    color: white;
    background-color:var(--red-icot);
    padding: 20px 15px;
    margin-right: 20px;
    border-radius: 3px;
    border: 2px;
    font-weight: 600;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.678), 0 10px 20px -5px rgb(186 46 41 / 50%) !important;
}
#warning-home {
    color: var(--red-icot);
    font-size: 20px;
    padding-right: 1rem;
}
#warning {
    color: white;
    font-size: 20px;
    padding-right: 1rem;
}
