.main-panel {
    background-image: url(/assets/img/background_continue.png) !important;
    background-position: center center !important;
    background-size: 1000px;
 
}

.card{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%), url(/assets/img/profile.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 370px;
    background-position-x: -25px;
}
