.main-panel {
    background-image: url(/assets/img/background_continue.png) !important;
    background-position: center center !important;
    background-size: 1000px;
}

.header-logo {
    background-image: url(/assets/img/roles1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x:right;
    min-width: 250px;
    min-height: 100px;
}


