.main-panel {
    background-image: url(/assets/img/background_continue.png) !important;
    background-position: center center !important;
    background-size: 1000px;
}



.btn-save {
    position: relative;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.btn-save::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 4px;
    font-size: 12px;
}

.btn-save:hover {
    background-color: white;
    color: green;
}

.btn-save:hover::after {
    visibility: visible;
    opacity: 1;
}

.btn-return {
    position: relative;
    background-color: var(--red-icot);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.btn-return::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 4px;
    font-size: 12px;
}

.btn-return:hover {
    background-color: white;
    color: var(--red-icot);
}

.btn-return:hover::after {
    visibility: visible;
    opacity: 1;
}