
.swal2-popup {
    font-size: 1.6rem !important;
    font-weight: bold;
    background-color: #333 !important;
    color: white !important;
}

.swal2-title {
    color: #ffffff !important;
    text-shadow: none !important; 
    opacity: 1 !important; 
    text-stroke: 0 !important; 
    font-weight: bold; 
}


.swal2-confirm {
    background-color: #2563EB !important;
    font-weight: bold;
}

.swal2-cancel {
    background-color: #bc012e !important;
    font-weight: bold;

}

/* Set background of validation message to transparent */
.swal2-validation-message {
    background: transparent !important;
    color: #ffffff !important; 
    box-shadow: none !important;
    border: none !important;
}

.swal2-validation-message {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}
