.content {
    background-image: url(/assets/img/background_continue.png) !important;
    background-position: center center !important;
    background-size: 1000px;  
    background-repeat: repeat;
}

/* index.blade.php */
.btn-add {
    position: relative;
    background-color: var(--red-icot);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}
.btn-add::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
}

.btn-add:hover {
    background-color: white;
    color: var(--red-icot);
}

.btn-add:hover::after {
    visibility: visible;
    opacity: 1;
}
.card-header-danger {
    border-radius: 50px !important;
  }

.form-date{
    background-color: var(--info) !important;
    width: 230px;
    height: 45px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center  !important;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
}

.informes-container {
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
}
.date-informes-container{
    width: 20%;
}

.picker-btn-container{
 width: 100%;
}
.picker-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.btn-container{
    display:flex;
     align-items: center;
    justify-content: flex-end;
    height: 100px !important;
  
}

.bootstrap-select .btn {
    width: 230px;
    height: 45px;
    margin: 20px;
    border: none !important;
    background-color: var(--red-icot);
    border-radius: 50px;
    color: white;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dropdown-menu {
    border-radius: 20px;
  }












.col-md-6{
    display:flex;
    flex-direction:column;
    justify-content:flex-end
}

.myclass {
    text-transform: capitalize;
}

/* indexvalidation.blade.php */

#lbl {
    color: black;
    font-weight: 600;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
}


.card-container { 
    display: flex;
    
}








/*form_change_centre.blade.php*/

.request-container{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
}


.tracking-validation-datatable tr>:nth-child(6) {
    color: #959ba3;
}

.month-picker-open-button {
    margin-right: 15px;
}

.actions-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.btn-container-box{
    display: flex;
    flex-direction: column;
    justify-content: end;
 
}
.date-container {
  background-color: #959ba3;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


    
/* form.blade.php */

#subLabel{
    color: var(--red-icot);
    font-weight: bold !important;
    font-size: 11px;
  }
  #lbl {
        color: black;
        font-weight: 800;
        font-family: 'Helvetica', 'Arial', sans-serif;
        margin-top: 25px;
        font-size:12px;
      }

    #containerBtns{
      margin-top: 40px;
    }