.content {
  background-image: url(/assets/img/background_continue.png) !important;
  background-position: center center !important;
  background-size: 1000px;
  height: 220vh !important;
}

/* Contenedor principal con tres columnas */
.informes-container,
.solicitud-container,
.service-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 420px;
  gap: 20px;
}

.date-informes-container {
  border-right: 2px solid #ccc;
  /* Línea vertical */
  padding-right: 20px;
  /* Espaciado para que no esté pegado */
  margin-right: 20px;
}

.date-informes-container,
.date-solicitud-container,
.date-services-container {
  /* padding-top: 50px; */
  /* min-width: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-solicitud-container{
  border-right: 2px solid #ccc;

}

.picker-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.observations-input {
  border: 4px solid var(--red-icot);
  box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.6);
  border-radius: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-self: center;
}

.picker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-right: 2px solid #ccc;
  padding-right: 20px;
  margin-right: 20px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.myclass {
  text-transform: capitalize;
}

.card-container {
  display: flex;
}

.tracking-validation-datatable tr> :nth-child(6) {
  color: #959ba3;
}

.month-picker-open-button {
  margin-right: 15px;
}

.actions-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.btn-container-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.date-container {
  background-color: #959ba3;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#subLabel {
  color: var(--red-icot);
  font-weight: bold !important;
  font-size: 11px;
}

#containerBtns {
  margin-top: 40px;
}

.btn-back-container {
  display: flex;
  justify-content: flex-end;
}

.btn-add-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.service-btn-add {
  position: absolute;
  bottom: 50px;
  background-color: var(--red-icot);
  border: none;
  color: white !important;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.service-btn-add:hover {
  background-color: white;
  color: var(--red-icot) !important;
}